$color: #c0c0c0;
$background: #f0f0f0;
$gutter: 10px;
$font-size: 16px;

$card-background: #fff;
$card-padding: 4px;
$card-width: 172px;
$card-height: 240px;
$card-color-red: #e44145;
$card-color-black: #252525;
$card-symbol-size: 40px;

body {
  padding: 0;
  margin: 0;
  background: $background;
}

.cards {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  position: relative;
  display: inline-block;
  width: $card-width;
  height: $card-height;
  font: $font-size 'Trebuchet MS';
  
  margin: $gutter;
  border-radius: $card-padding;
  background: $card-background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  
  &:before,
  &:after {
    content: attr(value);
    position: absolute;
    width: 12px;
    text-align: center;
    letter-spacing: -2px;
  }
  
  &:before {
    top: $card-padding;
    left: $card-padding;
  }
  
  &:after {
    bottom: $card-padding;
    right: $card-padding;
    transform: rotate(180deg);
  }
  
  &--heart {
    color: $card-color-red;
    
    &:before,
    &:after {
      content: attr(value) ' ♥';
    }
  }
  
  &--spade {
    color: $card-color-black;
    
    &:before,
    &:after {
      content: attr(value) ' ♠';
    }
  }

  &--diamonds {
    color: $card-color-red;
    
    &:before,
    &:after {
      content: attr(value) ' ♦';
    }
  }
  
  &--clubs {
    color: $card-color-black;
    
    &:before,
    &:after {
      content: attr(value) ' ♣';
    }
  }
}

card-head{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__inner {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 6 * $card-padding;
  left: 6 * $card-padding;
  right: 6 * $card-padding;
  bottom: 6 * $card-padding;
  
  &--centered {
    justify-content: center;
  }
}

.card__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &--centered {
    justify-content: center;
  }
}

.card__symbol {
  display: inline-block;
  height: $card-symbol-size;
  text-align: center;
  
  &:before {
    font-size: $card-symbol-size;
    line-height: $card-symbol-size;
  }
  
  .card--heart &:before {
    content: '♥';
  }
  
  .card--spade &:before {
    content: '♠';
  }

  .card--diamonds &:before {
    content: '♦';
  }
  .card--clubs &:before {
    content: '♣';
  }
  
  &--rotated,
  &:last-of-type {
    transform: rotate(180deg);
  }
  
  &:first-of-type {
    transform: rotate(0);
  }
  
  &--big {
    flex-basis: 0.25 * $card-height;
  }
  
  &--huge {
    flex-basis: 0.45 * $card-height;
  }
}

.title {
  font: 18px 'Trebuchet MS';
  color: #444;
  text-align: center;
}
