/* Container styling for the login/register area */
.loginRegister-container {
  display: flex;             /* Uses flexbox for layout */
  justify-content: center;   /* Horizontally centers child elements */
  align-items: first baseline; /* Aligns child elements to the baseline of the first line of text */
  height: 10vh;             /* Takes the full height of the viewport */
  margin: 15px;              /* Adds a margin on all sides */
}

/* Styling for the form that contains login/register fields and buttons */
.loginRegister-form {
  width: 300px;              /* Sets a fixed width */
  padding: 10px;             /* Adds space inside the form, around the content */
  border: 1px solid #ddd;    /* Adds a border around the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  background-color: #f1f1f1; /* Light grey background color */
}

/* Styling for the header section inside the login/register form */
.loginRegister-Header {
display: flex;             /* Turns it into a flex container */
justify-content: center;   /* Horizontally aligns items in the center */
align-items: center;       /* Vertically aligns items in the center */
padding: 0px 0;           /* Adds some padding on top and bottom */
}

/* Styling for input fields (e.g., username, password) */
.loginRegister-input {
  width: 95%;               /* Takes up 90% of the parent width */
  padding: 10px;            /* Adds space inside the input, around the text */
  margin: 5px 0;            /* Adds space outside the input, top & bottom */
  border: 1px solid #ddd;    /* Adds a border around the input */
  border-radius: 4px;       /* Rounds the corners */
}

/* Styling for the submit button */
.loginRegister-button {
  width: 100%;              /* Takes up the full width of its parent */
  padding: 10px;            /* Adds space inside the button, around the text */
  background-color: #007BFF; /* Primary blue color */
  border: none;             /* Removes the default border */
  border-radius: 10px;      /* Rounds the corners */
  color: #fff;              /* White text color */
  cursor: pointer;          /* Changes the cursor to a hand on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for the submit button */
.loginRegister-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
