/* Container styling for the login/register area */
.loginRegister-container {
  display: flex;             /* Uses flexbox for layout */
  justify-content: center;   /* Horizontally centers child elements */
  align-items: first baseline; /* Aligns child elements to the baseline of the first line of text */
  height: 10vh;             /* Takes the full height of the viewport */
  margin: 15px;              /* Adds a margin on all sides */
}

/* Styling for the form that contains login/register fields and buttons */
.loginRegister-form {
  width: 300px;              /* Sets a fixed width */
  padding: 10px;             /* Adds space inside the form, around the content */
  border: 1px solid #282828;    /* Adds a border around the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Adds a subtle shadow */
  background-color: #f1f1f1; /* Light grey background color */
  align-items: flex-start;
}

/* Styling for the header section inside the login/register form */
.loginRegister-Header {
display: flex;             /* Turns it into a flex container */
justify-content: center;   /* Horizontally aligns items in the center */
align-items: center;       /* Vertically aligns items in the center */
padding: 0px 0;           /* Adds some padding on top and bottom */
}

/* Styling for input fields (e.g., username, password) */
.loginRegister-input {
  width: 95%;               /* Takes up 90% of the parent width */
  padding: 10px;            /* Adds space inside the input, around the text */
  margin: 5px 0;            /* Adds space outside the input, top & bottom */
  border: 1px solid #ddd;    /* Adds a border around the input */
  border-radius: 4px;       /* Rounds the corners */
}

/* Styling for the submit button */
.loginRegister-button {
  padding: 10px 20px;           /* Add padding for a larger clickable area */
  background-color: #007BFF;    /* Use a blue background color */
  color: #fff;                  /* Set the text color to white for contrast */
  border: none;                 /* Remove any default borders */
  border-radius: 5px;           /* Round the corners slightly */
  cursor: pointer;              /* Change the cursor on hover for better UX */
  transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

/* Hover effect for the submit button */
.loginRegister-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative; /* Add this line */
}

.close-button {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Add this line */
  top: 5px; /* Add this line */
  right: 5px; /* Add this line */
}

.close-button {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.close-button:hover {
  color: red;
}
